# Prometheus service 
apiVersion: v1
kind: Service
metadata:
  name: prometheus-frontend
  namespace: prometheus
spec:
  ports:
  - name: web
    port: 9090
    targetPort: 9090
  selector:
    app.kubernetes.io/instance: prometheus
---
# Alertmanager service 
apiVersion: v1
kind: Service
metadata:
  name: alertmanager-frontend
  namespace: prometheus
spec:
  type: ClusterIP
  ports:
  - name: web
    port: 9093
    protocol: TCP
    targetPort: web
  selector:
    app.kubernetes.io/name: alertmanager

---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: monitoring-gateway
  namespace: prometheus
spec:
  # Replace if another gateway used
  gatewayClassName: contour
  listeners:
  - name: https
    hostname: "prometheus.content.tmm.broadcom.lab"
    port: 443
    protocol: HTTPS
    # Link to the TLS secret
    tls:
      mode: Terminate
      certificateRefs:
      - kind: Secret
        name: monitoring-cert
    # Allow the HTTPRoute in the same namespace to bind to this listener
    allowedRoutes:
      namespaces:
        from: Same

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: monitoring-route
  namespace: prometheus
spec:
  hostnames:
  - "prometheus.content.tmm.broadcom.lab"
  # Attach this route to the Gateway defined above
  parentRefs:
  - name: monitoring-gateway
    namespace: prometheus
    sectionName: https 

  rules:
  # Rule 1: Prometheus at the root path (/)
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: prometheus-frontend
      port: 9090

  # Rule 2: Alertmanager under /alertmanager/ (with path rewrite)
  - matches:
    - path:
        type: PathPrefix
        value: /alertmanager
    # CRUCIAL: Use the URLRewrite filter to strip the prefix
    filters:
    - type: URLRewrite
      urlRewrite:
        path:
          type: ReplacePrefixMatch
          replacePrefixMatch: /
    backendRefs:
    - name: alertmanager-frontend
      port: 9093
