apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  namespace: grafana
  labels:
    dashboards: "grafana"  
spec:
  service:
    spec:
      type: LoadBalancer
      ports:
        - name: http
          port: 80
          targetPort: 3000
  ingress:
    spec:
      ingressClassName: contour
      tls:
        - hosts:
            - grafana.content.tmm.broadcom.lab
          secretName: grafana-tls
      rules:
        - host: grafana.content.tmm.broadcom.lab
          http:
            paths:
              - path: /
                pathType: Prefix
                backend:
                  service:
                    name: grafana
                    port:
                      number: 3000